demo-ai-agent.json
{
  "name": "demo-ai-agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        0
      ],
      "id": "9af92268-69b0-4c60-87b3-462de8a15980",
      "name": "Webhook",
      "webhookId": "943908ae-4f45-4dd3-9f48-fbe94eb11f81"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        176
      ],
      "id": "e732a6f9-a138-402b-8466-0745df4ced43",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Muws3FKbH6mAaw3J",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"stats\": \"success\",\n  \"data\": {{ $json.toJsonString() }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        112
      ],
      "id": "80ab98db-1cf5-464e-9e5a-75fb79f63a49",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user message:  {{ $json.body.message }}",
        "options": {
          "systemMessage": "=you will receive a user message\nif the message is related to healthcare output: YES\nif not, output: NO\nonly return YES or NO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        0
      ],
      "id": "524c9cd0-084c-44d0-bac4-5a640ac1b065",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "m504lKN3CljMpqIq",
          "mode": "list",
          "cachedResultName": "evaluations | demo-ai-agent",
          "cachedResultUrl": "/projects/DGOxBB0EAKjucbcz/datatables/m504lKN3CljMpqIq"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        96,
        176
      ],
      "id": "f41b56c5-ae8c-4973-a37a-413bb5fc0641",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a3f4d89-1ab5-4acb-beab-e9765de05beb",
              "name": "body",
              "value": "={ \"message\": \"{{ $json.input }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        176
      ],
      "id": "1e11a16c-029a-4e66-940d-a951349daf6f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        768,
        0
      ],
      "id": "68b07ca1-fa2d-4f16-b021-10bfa345c793",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "m504lKN3CljMpqIq",
          "mode": "list",
          "cachedResultName": "evaluations | demo-ai-agent",
          "cachedResultUrl": "/projects/DGOxBB0EAKjucbcz/datatables/m504lKN3CljMpqIq"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_output",
              "outputValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "outputName": "status",
              "outputValue": "={{ $json.equality == 1 ? 'PASS' : 'FAIL' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1216,
        -160
      ],
      "id": "79909016-ec03-41bd-90a8-85a94aca8dc8",
      "name": "Evaluation2"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "stringSimilarity",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.expected_output }}",
        "actualAnswer": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "metricName": "equality"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1008,
        -160
      ],
      "id": "dfdfcfb6-8633-4933-a1c8-8c9276b20513",
      "name": "ai-judge"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-automation-test3.iohealth.com",
            "user-agent": "curl/8.16.0",
            "content-length": "0",
            "accept": "*/*",
            "via": "1.1 Caddy",
            "x-forwarded-for": "83.110.9.168",
            "x-forwarded-host": "n8n-automation-test3.iohealth.com",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "show lab results"
          },
          "webhookUrl": "https://n8n-automation-test3.iohealth.com/webhook/demo-ai-agent",
          "executionMode": "production"
        }
      }
    ],
    "When fetching a dataset row": [
      {
        "json": {
          "input": "what is the capital of france",
          "expected_output": "NO",
          "actual_output": null,
          "status": null,
          "id": 3,
          "createdAt": "2026-03-06T06:50:58.752Z",
          "updatedAt": "2026-03-06T06:51:16.290Z",
          "row_id": 3,
          "row_number": 2
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "ai-judge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai-judge": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a00db92-ad0e-454a-aa64-b4ff4738fd25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43a05ce589b039a8f39d72f886d870fc802640a88ae901fd42ed11096a19b314"
  },
  "id": "oSJPDtIn5YDxUQ2I",
  "tags": []
}